
@{
    ViewData["Title"] = "CreateUser";
}


<h2>Create New User</h2>

<form method="post" asp-action="CreateUser">
    <div>
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" required />
    </div>

    <div>
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="LastName" value="@Model.LastName" required />
    </div>

    <div>
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" value="@Model.Email" required />
    </div>

    <div>
        <label for="PhoneNumber">Phone Number</label>
        <input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required />
    </div>

    <button type="submit">Create User</button>
</form>
