<h1>Admin Dashboard</h1>

<ul>
    <li><a href="/Admin/ManageArticles">Manage Articles</a></li>
    <li><a href="/Admin/ManageUsers">Manage Users</a></li>
    <li><a href="/Admin/ManageSubscriptions">Manage Subscriptions</a></li>
</ul>



