@* @model NewsLetterBanan.Data.Article

<h1>Edit Article</h1>

<form asp-action="EditArticle" method="post">
	<
	<div class="form-group">
		<label asp-for="Headline" class="control-label"></label>
		<input asp-for="Headline" class="form-control" />
		<span asp-validation-for="Headline" class="text-danger"></span>
	</div>input type="hidden" asp-for="Id" />



    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="ContentSummary" class="control-label"></label>
        <textarea asp-for="ContentSummary" class="form-control"></textarea>
        <span asp-validation-for="ContentSummary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SourceURL" class="control-label"></label>
        <input asp-for="SourceURL" class="form-control" />
        <span asp-validation-for="SourceURL" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control">
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ArticleTagId" class="control-label"></label>
        <select asp-for="ArticleTagId" class="form-control">
        </select>
        <span asp-validation-for="ArticleTagId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateStamp" class="control-label"></label>
        <input asp-for="DateStamp" type="datetime-local" class="form-control" />
        <span asp-validation-for="DateStamp" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsEditorsChoice" class="control-label"></label>
        <input asp-for="IsEditorsChoice" type="checkbox" />
        <span asp-validation-for="IsEditorsChoice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsArchived" class="control-label"></label>
        <input asp-for="IsArchived" type="checkbox" />
        <span asp-validation-for="IsArchived" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CommentsOnOff" class="control-label"></label>
        <input asp-for="CommentsOnOff" type="checkbox" />
        <span asp-validation-for="CommentsOnOff" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@